@Model PostViewModel
@{
    ViewData["Title"] = "web demo";
}

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <table>
        <tr>
            <td> البداية </td>
            <td>
                <input type="number" id="Start" name="Start"/>
            </td>
        </tr>
        <tr>
            <td> النهاية </td>
            <td>
                <input type="number" id="End" name="End"/>
            </td>
        </tr>


        <tr>
            <td> الصورة (في حالة عدم وجود صورة اتركه فارغًا وسيتم استخدام الصورة الافتراضية، في حالة رفع صورة تأكد أنها بأبعاد عرض 867 وطول 414 </td>
            <td>
                <input type="file" id="Image"  name="Image"/>
            </td>
        </tr>


        <tr>
            <td></td>
            <td>
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
    <hr/>
</form>